{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="my-4">Available Quizzes</h2>
    <ul class="list-group">
        {% for quiz in quizzes %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% if user.is_authenticated %}{% url 'quiz_detail' quiz.id %}{% else %}{% url 'login' %}{% endif %}">{{ quiz.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_quiz' %}" class="btn btn-primary mt-4">Create New Quiz</a>
</div>
{% endblock %}
